/* DEFAULT CLASSES */
.btn {
  @apply flex items-center justify-center gap-2 cursor-pointer;
}

/* SUPER BUTTON */
.super-button {
  border: none;
  cursor: pointer;
  position: relative;
  background: linear-gradient(90deg, #d81bb9, #1762d4);
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: inset 0px 0px 5px #ffffffa9, inset 0px 25px 40px #25011f,
    0px 5px 10px #00000040;
  text-shadow: 1px 1px 1px #000;
}
.super-button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 12px;
  filter: blur(0);
  z-index: -1;
  box-shadow: none;
  background: conic-gradient(#40baf7, #f34ad7, #5bfcc4);
  transition: all 0.3s ease;
}
.super-button:hover::before {
  filter: blur(5px);
}
.super-button:active::before {
  filter: blur(5px);
  transform: translateY(1px);
}
.super-button:active {
  box-shadow: inset 0px 0px 5px #ffffffa9, inset 0px 35px 30px #000;
  margin-top: 3px;
}
