# Nuxt dev/build Outputs
.output
.data
.nuxt
.nitro
.cache
dist

# VSCode Settings
.vscode

# Node Dependencies
node_modules

# Database
data

# Images
public/uploads

# Logs
logs
*.log

# Local Env Files
.env
.env.*
!.env.example
.qodo

# Uploaded Images
